<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Data Science</title>
</head>
<body>
    <h1 style="font-size: 24px; color: rgb(65, 64, 64); font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;">
        Descrición proyecto Data science
    </h1>
    <p style="font-size: 18px; color: rgb(65, 64, 64); font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
        El proyecto consiste en seleccionar, implementar y ajustar un modelo que permita, por un lado, identificar los principales determinantes de los salarios; y por otro, predecirlos en base a tales características. 
        La muestra utilizada para tal fin, se corresponde con el conjunto de personas ocupadas asalariadas en edad activa relevadas en el marco de la encuesta permanente de hogares elaborada por el INDEC, durante el segundo trimestre de 2020
    </p>
    <a href="../index.html">Vuelta al Index</a>
</body>
</html>

