<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Desarrollo Web</title>
</head>
<body>
    <h1 style="font-size: 24px; color: rgb(65, 64, 64); font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;">
        Descrición proyecto Desarrollo Web
    </h1>
    <p style="font-size: 18px; color: rgb(65, 64, 64); font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
        El proyecto consiste en maquetar un proyecto a elección, y mediante HTML y CSS, darle formato y estilos. 
        En este caso se trata de un portfolio.
    </p>

    
    
    <a href="../index.html">Vuelta al Index</a>
</html>

