<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Economía Circular</title>
</head>
<body>
    <h1 style="font-size: 24px; color: rgb(65, 64, 64); font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;">
        Descrición proyecto Sostenibilidad y Economía circular
    </h1>
    <p style="font-size: 18px; color: rgb(65, 64, 64); font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
        El proyecto consiste en recolectar y clasificar los residuos generados en la UTN San Rafael, para posteriormente clasificarlos, con el fin de 
        poder analizar los indicadores y poder proponer mejoras adecuadas.
    </p>
    <a href="../index.html">Vuelta al Index</a>
</body>
</html>